@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutShare.cshtml";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Giói thiệu</title>
    <link rel="stylesheet" type="text/css" href="~/css/style-gioithieu.css" />
</head>

<body>
    <div class="container-main">
        <div class="box-main">
            <div class="main">
                <div class="clear">
                    <h2 class="line">Giới thiệu</h2>
                    <p><strong>TheMen</strong> được biết đến là thương hiệu thời trang nam tiên phong trong lĩnh vực “Thời trang nam thiết kế” với phong cách sáng tạo và thanh lịch.</p>
                    <p>Với tầm nhìn chiến lược trở thành thương thiệu <strong>“Thời trang nam được yêu thích nhất Việt Nam”</strong>, từ những ngày đầu bước vào thị trường, TheMen đã rất được chú trọng việc nghiên cứu, phát triển mẫu mã, phom dáng phủ hợp với hình thể đàn ông Việt. Nguồn nguyên liệu được kiểm soát chặt chẽ, máy móc và trang thiết bị hiện đại là đòn bẩy cho sự phát triển bền vững của thương hiệu.</p>
                    <p>Đối tượng mà <strong>TheMen</strong> hướng tới là nam giới trong độ tuổi từ 25 đến 35 tuổi, những người đàn ông thành đạt , luôn muốn có sự cân bằng giữa phát triển sự nghiệp và tận hưởng cuộc sống. Sản phẩm của <strong>TheMen</strong> mang tới cho phái mạnh Việt hình ảnh trẻ trung, năng động, hiện đại mà không kém phần lịch sự, sang trọng. Được hàng trăm nghìn khách hàng thân thiết đặt niểm tin và lựa chọn là người bạn đồng hành mỗi ngày trong công việc và cuộc sống.</p>
                    <p><strong>TheMen</strong> cam kết mang lại giá trị đích thực và một cuộc sống thịnh vượng hơn cho phái mạnh Việt</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

